

2014, 2015, 2017, 2021, 2022, 2023 Center for Computer Assisted Research in the Humanities, an affiliate of the Packard Humanities Institute, at Stanford University. Compilation and brief explanations are mainly by Eleanor Selfridge-Field with contributions by many colleagues including Ilias Chrissochoidis; Edmund Correia, Jr., David Day, Giuliano Di Bacco, Richard Freedman, Jan Koláček, Debra Lacoste, Jennifer Ward, the MEI community, and numerous project developers; design and technical implementation by Craig Stuart Sapp. DRM emphasizes open-access repositories. Many university libraries offer excellent links for licensed-access materials. Persistent URLs have been used where available. To report errors and oversights please use [http://wiki.ccarh.org/wiki/Contact_information this link]. Version 1.3.
