

&lt;small>2014 Center for Computer Assisted Research in the Humanities, an affiliate of the Packard Humanities Institute, at Stanford University.  Compilation and brief explanations are mainly by Eleanor Selfridge-Field with contributions by many colleagues, especially including Giuliano Di Bacco and Jennifer Ward plus several project developers; design and technical implementation by Craig Stuart Sapp; and other advice by Ilias Chrissochoidis. Persistent URLs have been used where available.  For contact information please use [http://wiki.ccarh.org/wiki/Contact_information this link].&lt;/small>
