===Center for the History of Music Theory and Literature===

Website: [http://www.chmtl.indiana.edu/ Center for the History of Music Theory and Literature (CHMTL)]

The Center for the History of Music Theory and Literature (CHTML) is a research center at the Jacobs School of Music at Indiana University.  It supervises several databases of early texts pertinent to music theory.  While the TML is exclusively devoted to writings in Latin from antiquity to the seventeenth century, the rise of parallel efforts for digitizing the texts of music-theoretical writings in modern languages spawned several efforts now managed at CHTML. All projects have introductions and give clearly state principles of orthography.  Current projects are listed below:  

* The [http://www.chmtl.indiana.edu/tml/start.html Thesaurus Musicarum Latinarum (TML)], begun in 1990 and extensively developed by Thomas Mathiesen at Indiana, with the collaboration of many scholars in the US and abroad. The TML was one of the earliest databases (probably the earliest in musicology) to be fully searchable in a single pass. Its current search page is [http://www.chmtl.indiana.edu/tml/search.html here]. Giuliano Di Bacco, who now heads the project, is at work on new digital approaches to structuring and searching the material. This lexicon of musical terminology up to c. 1600 extends to evidence of speech, literary references, music-theory manuscripts, and first lines of tracts. Founding director: Thomas Matthiesen. Current project director: Giuliano Di Bacco. 950 texts.

* The [http://www.chmtl.indiana.edu/smi/ Saggi musicali italiani (SMI)] contains texts in Italian from the Renaissance through the nineteenth century.  Founder and project director: Andreas Giger, Louisiana State University. 33 texts to date. 

* The [http://www.chmtl.indiana.edu/tfm/ Traités sur la musique en Français (TMF)] covers the middle ages through the nineteenth century.  Sources in French include items published in Belgium. Founder and director: Peter Slemon, University of Toronto. 160s texts to date. 

* The [http://www.chmtl.indiana.edu/tme/index.html Treatises on music in English] concentrates on sources from the fourteenth through eighteenth centuries. Founder and director: Peter Lefferts, University of Nebraska, Lincoln.

===&lt;i>Early Music Theory&lt;/i>===

Website: [http://earlymusictheory.org/ Early Music Theory]

[[File: Tinctoris-6thrule-De_imperfectionum-notarum-musicalium.png|350px|thumb|right|&lt;small>Illustration of the Sixth Rule from &lt;i>De imperfectionum notarum musicalium&lt;/i> of Tinctoris.&lt;/small>]]

&lt;i>Early Music Theory&lt;/i> subsumes the new [http://www.stoa.org/tinctoris/ digital edition] of the works of Johannes Tinctoris. Twelve treatises are listed on the earlier Stoa site, and three are viewable.

===German writings on music theory and musical institutions===

Website: [http://daten.digitale-sammlungen.de/~db/ausgaben/uni_ausgabe.html?projekt=1199864125&amp;ordnung=sig&amp;recherche=ja Writings on Music Theory]

This digitized collection (176 titles) from the Bavarian State Library emphasizes works printed between 1516 ([http://daten.digitale-sammlungen.de/~zend-bsb/metsexport/index.html?zendid=bsb00010835 Glareanus, Basel]) and 1900.  It includes a number of books related to individual theaters (mainly German).

===&lt;i>Lexicon musicum Latinum&lt;/i>===

Website: [http://www.lml.badw.de/info/index.htm Lexicon musicum Latinum]

This lexicon of musical terminology up to &lt;i>c&lt;/i>. 1600 extends to evidence of speech, literary references, music-theory manuscripts, and first lines of tracts.  

===Monuments of Partimenti===

Website: [http://faculty-web.at.northwestern.edu/music/gjerdingen/partimenti/index.htm Monuments of Partimenti]

Robert Gjerdingen's online website for &lt;i>partimenti&lt;/i> introduces the basic approach to improvisation and composition based on suggestive figured-bass sketches that survive, according to the seminal work of Giorgio Sanguinetti's [http://global.oup.com/us/companion.websites/9780195394207/ &lt;i>The Art of Partimento&lt;/i>] (2012), in abundance from the eighteenth century.  The website is still under development, but between the materials available here and the companion site linked to the book (above), users can form an elementary notion of the practice.

===&lt;i>Thesaurus Musicarum Italicarum&lt;/i>===

Website: [http://euromusicology.cs.uu.nl/ Thesaurus Musicarum Italicarum (TMI)]

Frans Wiering's &lt;i>Thesaurus Musicarum Italicarum&lt;/i>, which is entirely separate from the TML, represented a second incarnation of his CD-ROM encodings of all the treatises of Gioseffo Zarlino (1995).  The CD offered all the musical examples as MIDI and DARMS files as well as in modern notation. Its viability was undermined by the evolution of operating systems in the early 2000s.  Other works of Italian music theory from the decades following Zarlino were encoded subsequently by students at Utrecht University.
