

2014, 2015 Center for Computer Assisted Research in the Humanities, an affiliate of the Packard Humanities Institute, at Stanford University.  Compilation and brief explanations are mainly by Eleanor Selfridge-Field with contributions by many colleagues, especially including Giuliano Di Bacco, Liza Vick, Kerry Masteller, and Jennifer Ward plus several project developers; design and technical implementation by Craig Stuart Sapp; other advice by Ilias Chrissochoidis. Persistent URLs have been used where available. DRM emphasizes open-access repositories. Music libraries offer excellent links for licensed-access materials.  For comprehensive listings of online journals and conferences please see the [http://goldenpages.jpehs.co.uk/ Golden Pages]. To report errors please use [http://wiki.ccarh.org/wiki/Contact_information this link]. Version 1.0.
