<script>
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Fri Sep 18 21:15:35 PDT 2015
// Last Modified: Fri Sep 18 21:15:42 PDT 2015
// Filename:      scripts/templates.js
// Syntax:        JavaScript 1.8.5/ECMAScript 5.1
// vim:           ts=3 hlsearch
//
// Description:   Handlebars templates and helper functions.
//

var renderLinkEntry     = null;
var renderSearchForm    = null;
var renderCategoryEntry = null;

document.addEventListener('DOMContentLoaded', function() {
	renderLinkEntry = Handlebars.compile(
		document.querySelector('#link-entry-template').innerHTML);
	renderSearchForm = Handlebars.compile(
		document.querySelector('#search-form-template').innerHTML);
	renderCategoryEntry = Handlebars.compile(
		document.querySelector('#category-entry-template').innerHTML);
});

</script>


<!--
//////////////////////////////
//
// search-form-template --
//
-->

{% raw %}
<script id="search-form-template" type="text/x-handlebars-template">

<form class="form-inline" style="margin-bottom:30px;">
	<div class="form-group">
		<input id="search-text" onkeypress="suppressEnter(event);"
			style="width:30em;" onkeyup="doSearch(event);"
			type="text" width="20" class="form-control" placeholder="Search">
	</div>
	<div class="form-group">
		<div style="margin-left:10px;" class="checkbox">
			<label>
				<input id="search-scope" onkeypress="suppressEnter(event);
						onclick="doSearch(event);" type="checkbox" value="">
				<span style="margin-left:3px;">
					Titles only
				</span>
			</label>
		</div>
	</div>

	<div style="float:right; display:inline;">
		<table><tr><td>
			<div style="display:inline;" id="link-count"></div>
		</td><td>
			<div style="display:inline" class="btn-group" 
					role="group" aria-label="...">
  				<button type="button" class="btn btn-default btn-open"
						onclick="openAllLinks();">
					open
				</button>
  				<button type="button" class="btn btn-default btn-close"
						onclick="closeAllLinks();">
					close
				</button>
		</div>
		</td></tr></table>
	</div>

</form>

</script>
{% endraw %}


<!--
//////////////////////////////
//
// link-entry-template -- Template for displaying a link entry in
//    the closed state (but Firefox will always open <details>).
// Input object parameters:
//    .title = title of the link
//    .text = text description of the link
//
-->

{% raw %}
<script id="link-entry-template" type="text/x-handlebars-template">

{{#ifCond type "heading"}}
	<span class="segment level{{level}}">{{title}}</span>
{{else}}
	<details class="link-entry level{{level}}">
		<summary>{{{title}}}</summary>
		<div class="link-text">
			{{{text}}}
		</div>
	</details>
{{/ifCond}}

</script>
{% endraw %}



<!--
//////////////////////////////
//
// category-entry-template -- Template for displaying a category of
//    links.
// Input object parameters:
//    .title  = title of the category.
//    .number = the sequence number for the category.
//
-->

{% raw %}
<script id="category-entry-template" type="text/x-handlebars-template">


	<div style="float:right; display:inline;">
		<table><tr><td>
			<div style="display:inline;" id="link-count"></div>
		</td><td>
			<div style="display:inline" class="btn-group" 
					role="group" aria-label="...">
  				<button type="button" class="btn btn-default btn-small btn-open"
						onclick="openCategoryLinks();">
					<span style="position:relative; top:-5px">
						open
					</span>
				</button>
  				<button type="button" class="btn btn-default btn-small btn-close"
						onclick="closeCategoryLinks();">
					<span style="position:relative; top:-5px">
						close
					</span>
				</button>
		</div>
		</td></tr></table>
	</div>

<details>

	<summary class="category category{{number}}">
		{{heading}}
	</summary>

</details>

</script>
{% endraw %}




<script>
///////////////////////////////////////////////////////////////////////////
//
// Helper functions for handlebars-js.
//

Handlebars.registerHelper('wiki', function(text, options) {
	return new Handlebars.SafeString(wiki2html(text));
});


Handlebars.registerHelper('ifCond', function(v1, v2, options) {
  if(v1 === v2) {
    return options.fn(this);
  }
  return options.inverse(this);
});


</script>



