	{% if page.url == "/index.html" %}
		<section class="page-header">
		<h1 class="project-name">Digital Resources for Musicology</h1>
<style>
.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}
</style>
<script>function goToSubmitForm() { document.location.href="https://docs.google.com/forms/d/1Y79amjULO2B0R_QGsMucdScuU7F9keuAnI2ll6M9YPg/viewform";}</script>
<br>
<span class="print-url"></span>
<time></time>
<span class="myButton" onclick="goToSubmitForm();">
	Submit an entry
</span>
<span class="no-print" style="float:right; padding-right:2cm;">
	<span class="keyboard-help">
		<span class="glyphicon glyphicon-th"></span>
	</span>
	<span onclick="printPage(event);" title="print" 
			style="padding-left:10px; cursor:pointer;" 
			class="print-help">
		<span onclick="printPage(event);"
			class="glyphicon glyphicon-print">
		</span>
	</span>
</span>

<br>
<br>

	{% else %}
	{{ page.url }}
		<section style="height:100px; padding-left:15px;" class="page-header">
		<table><tr><td>
		<a href="/"><h1 class="project-name2">Digital Resources for Musicology</h1></a>
		</td><td>
		<h2 class="project-tagline2" style="padding-top:0; margin-top:0px;">
		{% if page.title %}
			{{ page.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
		</h2>
		</td></tr></table>
	{% endif %}
</section>


